@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  html, body {
    touch-action: manipulation;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
  }

  input, textarea, select {
    user-select: text;
  }
}
